<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h2>Inicia sesión.</h2>
            <hr>
            <form action="/iniciar-sesion" method="POST">
                <div class="mb-4">
                    <label for="email" class="form-label">Dirección de email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="cloob@correo.com">
                </div>
                <div class="mb-2">
                    <label for="userPassword" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="userPassword" name="userPassword"
                        placeholder="Contraseña">
                </div>
                <div class="d-grid">
                    <button type="submit" class="btn btn-cloob">Iniciar sesión</button>
                </div>
                <br>
                <a class="link" href="/registro">¿No tienes cuenta? Créate una ahora.</a>
                {{#if errorMessage}}
                <p id="error" class="mt-2 error-msg">{{errorMessage}}</p>
                {{/if}}
            </form>
        </div>
    </div>
</div>