<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{appTitle}}</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Gloock&display=swap" rel="stylesheet">
   <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css' rel='stylesheet'>
   <link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>
   <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
         <a class="navbar-brand logo" href="/">cloob.</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
               <li class="nav-item"><a class="nav-link" href="/cloob/lista">Ver cloobs</a></li>
            </ul>
            <div class="d-flex">
               <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  {{!-- {{#if ../isAdmin}} --}}
                  {{!-- <li class="nav-item"><a class="nav-link" href="/admin-panel">Admin</a></li> --}}
                  {{!-- {{/if}} --}}
                  {{#unless currentUser}}
                  <li class="nav-item"><a class="nav-link" href="/iniciar-sesion">Iniciar sesión</a></li>
                  <li class="nav-item"><a class="nav-link" href="/registro">Crear cuenta</a></li>
                  {{/unless}}
                  {{!-- {{#if ../isLoggedIn}} --}}
                  {{#if currentUser}}
                  <li class="nav-item"><a class="nav-link" href="/mi-perfil">Tu perfil</a></li>
                  <li class="nav-item"><a class="nav-link" href="/cerrar-sesion">Cerrar sesión</a></li>
                  {{!-- {{/if}} --}}
                  {{/if}}
               </ul>
            </div>
         </div>
      </div>
   </nav>

   <div class="m-nav">

      {{{body}}}

   </div>

   <div class="container-fluid footer logo">
      <footer class="py-3 my-4">
         <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Inicio</a></li>
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Seguridad</a></li>
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">FAQs</a></li>
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Acerca</a></li>
         </ul>
         <p class="text-center text-muted">© 2123 cloob., Inc</p>
      </footer>
   </div>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"></script>
   <script src="/js/script.js"></script>

</body>


</html>