<div class="container m-nav">
    <h1>Mi perfil</h1>
    <div class="row">
        <h2>{{currentUser.firstName}}</h2>
        <img src="{{currentUser.avatar}}" alt="Avatar de {{currentUser.firstName}} {{currentUser.lastName}}">




    </div>
</div>