body {
  margin: 0;
  padding: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1A4C55;
  color: #F5F7B6;
}

img {
  width: 100%;
}

.error-msg {
  background-color: rgb(255, 200, 200);
  text-align: center;
  padding: 8px;
  margin-top: 6px;
  border-radius: 4px;
}

.nav-link {
  color: #fff;
}

.nav-link:active,
.nav-link:hover {
  color: #F5F7B6;
}

.m-nav {
  margin-top: 80px;
}

.profile-picture {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-friend {
  width: 12rem;
  color: black;
}

.card-cloob {
  width: 18rem;
  color: black;
}

.cloobs {
  color: black;
}

.logo {
  font-family: Gloock;
}

h1,
h2,
h3,
h5 {
  font-family: Gloock;
}

h1 {
  font-size: 10em;
  margin-top: .5em;
  margin-bottom: 0.3em;
}

h2 {
  font-size: 2em;
  margin-bottom: 1em;
  letter-spacing: .04em;
}

h3 {
  font-size: 5em;
}

h5 {
  letter-spacing: .04em;
}

.cover-img {
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-cloob {
  margin-top: 1em;
  padding: .5em 4em;
  background-color: #F5F7B6;
  color: #1A4C55;
}

.btn-cloob:hover {
  background-color: #cf502d;
  color: #F5F7B6;
  ;
}

.footer {
  margin-top: 5em;
  background-color: #F5F7B6;
}