:root {
  --cloob-white: #FFFFFF;
  --cloob-black: #000000;

  --cloob-yellow: #F5F7B6;
  --cloob-terra: #cf502d;
  --cloob-green: #1A4C55;
  --cloob-dark-green: #3a3a3a;

  --cloob-error: #FFC8C8;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--cloob-green)
}

img {
  width: 100%;
}

.card-img-top {
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.error-msg {
  color: var(--cloob-black);
  background-color: var(--cloob-error);
  text-align: center;
  padding: 8px;
  margin-top: 6px;
  border-radius: 4px;
}

.m-nav {
  margin-top: 80px;
}

.profile-picture {
  display: inline-block;
  width: 120px;
  height: 120px;
  border-radius: 50%;

  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.card-friend {
  color: var(--cloob-black);
  max-width: 16em;
}

.card-cloob {
  color: var(--cloob-black);
}

.cover-img {
  margin-top: 1em;
  margin-bottom: 1em;
}

.book-preview {
  max-height: 200px;
  max-width: 100%;
  object-fit: contain;
}

.five-lines {
  min-height: calc(1.5em * 4);
  max-height: calc(1.5em * 4);
  overflow: hidden;
}

/* Typography */

.logo {
  font-family: Gloock;
}

.nav-link {
  color: var(--cloob-white);
}

.nav-link:active,
.nav-link:hover {
  color: var(--cloob-yellow);
}

body {
  font: 15px "Lucida Grande", sans-serif;
  color: var(--cloob-yellow);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Gloock;
  color: var(--cloob-yellow);
}

h1 {
  font-size: 10em;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  letter-spacing: 0;
}

h2 {
  font-size: 5em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  letter-spacing: 0.04em;
}

h3 {
  font-size: 2em;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
  letter-spacing: 0.06em;
}

h4 {
  font-size: 1.5em;
  margin-top: .05em;
  margin-bottom: 0.2em;
  letter-spacing: 0.06em;
}

h5 {
  font-size: 1em;
  margin-top: .05em;
  margin-bottom: 0.2em;
  letter-spacing: 0.06em;
}

.btn-cloob {
  margin-top: 1em;
  padding: 0.5em 4em;
  color: var(--cloob-green);
  background-color: var(--cloob-yellow);
}

.btn-cloob:hover {
  color: var(--cloob-yellow);
  background-color: var(--cloob-terra);
}

.btn-cloob2 {
  margin-top: 1em;
  padding: 0.5em 4em;
  color: var(--cloob-green);
  background-color: var(--cloob-white);
  border: 2px solid var(--cloob-green);
}

.btn-cloob2:hover {
  color: var(--cloob-white);
  background-color: var(--cloob-green);
}

.link {
  color: var(--cloob-yellow);
}

.footer {
  margin-top: 10em;
  color: var(--cloob-green);
  background-color: var(--cloob-yellow);
}

.helper {
  margin-top: 0.5em;
  color: var(--cloob-yellow);
}