<div class="container">
    <h1>Detalles del Cloob</h1>
    <a href="/evento/crear-evento-1" class="btn btn-warning btn-sm">Crear Cloob</a>

    <a href="/cloob/editar/{{_id}}" class="btn btn-warning btn-sm">Editar</a>

    <form action="/cloob/agregar/{{_id}}" method="POST">
        <input type="submit" value="Unirse al Cloob" class="btn btn-dark btn-sm">
    </form>
</div>