<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Crear nuevo evento</h2>
            <hr>
            <h3>Terminar ficha</h3>
            <hr>
            <form action="/evento/crear-evento" method="GET">
                <div class="mb-3">
                    <p>Este es el id del libro que escogiste: {{ book_id }}</p>
                </div>
            </form>
        </div>
    </div>
</div>