<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <h3>Crear nuevo evento</h3>
            <hr>
            <h2>Buscar libro</h2>
            <form action="/evento/{{cloob_id}}/seleccionar-libro" method="GET">
                <div class="mb-3">
                    <label for="search" class="form-label">Libro a elegir:</label>

                    <input autofocus type="text" class="form-control" id="search" name="search"
                        placeholder="Título del libro">
                    <button type="submit" class="btn btn-cloob">Buscar</button>
                </div>
            </form>
        </div>
    </div>
</div>